<table class="table">
	<thead>
		<tr>
			<th>Service Name</th>
			<th>ImageUrl</th>
			<th>Description</th>
			<th>Price</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr #row *ngFor="let Service of Services; let i = index">
			<td>
				<input
					[readonly]="listArray[i].toggle"
					class="flex-grow-1"
					type="text"
					style="border-style: none"
					[(ngModel)]="Services[i].name" />
			</td>
			<td>
				<input
					[readonly]="listArray[i].toggle"
					class="flex-grow-1"
					type="text"
					style="border-style: none"
					[(ngModel)]="Services[i].imageUrl" />
			</td>
			<td>
				<input
					[readonly]="listArray[i].toggle"
					class="flex-grow-1"
					type="text"
					style="border-style: none"
					[(ngModel)]="Services[i].description" />
			</td>
			<td>
				$
				<input
					[readonly]="listArray[i].toggle"
					class="flex-grow-1"
					type="number"
					style="border-style: none"
					[(ngModel)]="Services[i].price" />
			</td>
			<td class="d-flex justify-content-between">
				<i
					[class]="listArray[i].class"
					(click)="
						listArray[i].toggle
							? (listArray[i].class = 'fa fa-plus') &&
							  (listArray[i].toggle = !listArray[i].toggle)
							: (listArray[i].class = 'fa fa-pencil') &&
							  (listArray[i].toggle = !listArray[i].toggle) &&
							  updateService(Service._id!, Services[i])
					"
					style="font-size: 32px"></i>
				<i
					class="fa fa-remove"
					(click)="deleteService(Service._id!)"
					style="font-size: 32px"></i>
			</td>
		</tr>
		<tr>
			<td>
				<input
					class="flex-grow-1"
					type="text"
					style="border-style: none"
					placeholder="New Service"
					[(ngModel)]="newService.name" />
			</td>
			<td>
				<input
					class="flex-grow-1"
					type="text"
					style="border-style: none"
					placeholder="New Image Url"
					[(ngModel)]="newService.imageUrl" />
			</td>
			<td>
				$
				<input
					class="flex-grow-1"
					type="number"
					style="border-style: none"
					placeholder="+"
					[(ngModel)]="newService.price" />
			</td>
			<td>
				<input
					class="flex-grow-1"
					type="text"
					style="border-style: none"
					placeholder="New Description"
					[(ngModel)]="newService.description" />
			</td>
			<td style="text-align: center">
				<i
					class="fa fa-plus"
					(click)="createService(newService)"
					style="font-size: 32px"></i>
			</td>
		</tr>
	</tbody>
</table>
