<header
	class="w-full mx-auto text-white z-50 bg-transparent fixed py-2 transition-all">
	<div class="lg:grid grid-cols-6 py-2">
		<div class="grid grid-cols-3 lg:grid-cols-1">
			<div class="justify-self-center md:hidden">
				<button mat-icon-button [matMenuTriggerFor]="beforeMenu">
					<mat-icon class="text-white menu-icon">menu</mat-icon>
					<mat-menu #beforeMenu="matMenu" xPosition="after">
						<button mat-menu-item routerLink="home">Home</button>
						<button mat-menu-item [matMenuTriggerFor]="products">
							Products
						</button>
						<button mat-menu-item routerLink="services">Services</button>
						<button mat-menu-item routerLink="contact">Contact</button>
					</mat-menu>

					<mat-menu #products>
						<button mat-menu-item routerLink="products">Toilets</button>
						<button mat-menu-item routerLink="products">Baths</button>
						<button mat-menu-item routerLink="products">Faucets</button>
						<button mat-menu-item routerLink="products">Showers</button>
					</mat-menu>
				</button>
			</div>
			<a
				routerLink="home"
				class="flex justify-center items-center border-r-0 lg:border-r-2 lg:border-white logo">
				<h1 class="font-bold text-2xl lg:text-3xl">TRINITY</h1>
			</a>
			<div
				class="flex justify-center items-center gap-2 lg:hidden md:col-span-2 md:mx-auto md:w-3/4 md:justify-end">
				<span><i class="fa-solid fa-magnifying-glass"></i></span>
				<a routerLink="login">
					<span><i class="fa-solid fa-user"></i></span>
				</a>
				<a routerLink="cart">
					<span><i class="fa-solid fa-shopping-cart"></i></span>
				</a>
			</div>
		</div>
		<div class="col-span-5 grid-rows-2">
			<div class="lg:grid grid-cols-3 py-2 hidden">
				<div class="w-1/3 ml-5 col-span-2">
					<form>
						<label class="relative block">
							<input
								class="w-full bg-transparent placeholder:font-italitc border border-white py-2 pl-3 pr-10 placeholder:text-white focus:outline-none rounded-sm"
								placeholder="Search..."
								type="text" />

							<span
								class="absolute inset-y-0 right-0 flex items-center pr-3">
								<span
									><i class="fa-solid fa-magnifying-glass"></i
								></span>
							</span>
						</label>
					</form>
				</div>

				<div
					class="lg:flex justify-around items-center pr-10 w-3/4 2xl:w-1/2 ml-auto hidden">
					<a
						routerLink="login"
						class="h-full flex items-center justify-center">
						<span
							class="border w-8 h-8 flex items-center justify-center border-white p-1 cart-icon rounded-full">
							<i class="fa-solid fa-user"></i>
						</span>
						&nbsp; Login
					</a>
					<a
						routerLink="cart"
						class="h-full flex items-center justify-center">
						<span
							class="border w-8 h-8 flex items-center justify-center border-white p-1 cart-icon rounded-full">
							<i class="fa-solid fa-cart-shopping"></i>
						</span>
						&nbsp; Cart
					</a>
				</div>
			</div>
			<nav>
				<ul
					class="hidden md:flex w-11/12 lg:w-3/5 items-center justify-around px-3 bg-gray-800 text-white relative h-10 lg:ml-5 md:mt-5 lg:mt-0 md:mx-auto">
					<li>
						<a href="">Home</a>
					</li>
					<li class="flex items-center">
						<a routerLink="products">Products</a>
						<span>
							<svg
								class="ml-1 w-5 h-5"
								aria-hidden="true"
								fill="currentColor"
								viewBox="0 0 20 20"
								xmlns="http://www.w3.org/2000/svg">
								<path
									fill-rule="evenodd"
									d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
									clip-rule="evenodd"></path>
							</svg>
						</span>
					</li>
					<li>
						<a routerLink="services">Services</a>
					</li>
					<li>
						<a href="">Contact</a>
					</li>
					<div
						class="hidden lg:block absolute top-0 -right-5 skew-x-12 w-10 h-full bg-gray-800 skew -z-10"></div>
				</ul>
			</nav>
		</div>
	</div>
</header>
