.transition {
	background: #ffffff !important;
	box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
	color: black;

	::placeholder,
	.menu-icon {
		color: black;
	}

	input {
		border: 1px solid black;
	}

	.cart-icon {
		border: 1px solid black;
	}
	.logo {
		@apply lg:border-r-2 lg:border-r-gray-800;
	}
	.skew {
		@apply -skew-x-12;
	}
}

.switch {
	background: white;
	display: block;
	position: relative;
	box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
	color: black;
	.menu-icon {
		color: black;
	}
	::placeholder {
		color: black;
	}
	input {
		border: 1px solid black;
	}

	.cart-icon {
		border: 1px solid black;
	}
	.logo {
		@apply lg:border-r-2 lg:border-r-gray-800;
	}
	.skew {
		@apply -skew-x-12;
	}
}

