<table class="table">
	<thead>
		<tr>
			<th>Item Name</th>
			<th>Category</th>
			<th>ImageUrl</th>
			<th>Stock</th>
			<th>Price</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr #row *ngFor="let item of Items; let i = index">
			<td>
				<input
					[readonly]="listArray[i].toggle"
					class="flex-grow-1"
					type="text"
					style="border-style: none"
					[(ngModel)]="item.name" />
			</td>
			<select
				[disabled]="listArray[i].toggle"
				class="flex-grow-1"
				type="text"
				style="border-style: none"
				[(ngModel)]="item.category">
				<option
					[selected]="category.name == item.category"
					*ngFor="let category of Categories"
					[value]="category._id">
					{{ category.name }}
				</option>
			</select>
			<td>
				<input
					[readonly]="listArray[i].toggle"
					class="flex-grow-1"
					type="text"
					style="border-style: none"
					[(ngModel)]="item.imageUrl" />
			</td>
			<td>
				$
				<input
					[readonly]="listArray[i].toggle"
					class="flex-grow-1"
					type="number"
					style="border-style: none"
					[(ngModel)]="item.price" />
			</td>
			<td>
				<input
					[readonly]="listArray[i].toggle"
					class="flex-grow-1"
					type="number"
					style="border-style: none"
					[(ngModel)]="item.stock" />
			</td>
			<td class="d-flex justify-content-between">
				<i
					[class]="listArray[i].class"
					(click)="
						listArray[i].toggle
							? (listArray[i].class = 'fa fa-plus') &&
							  (listArray[i].toggle = !listArray[i].toggle)
							: (listArray[i].class = 'fa fa-pencil') &&
							  (listArray[i].toggle = !listArray[i].toggle) &&
							  updateItem(item._id!, item)
					"
					style="font-size: 32px"></i>
				<i
					class="fa fa-remove"
					(click)="deleteItem(item._id!)"
					style="font-size: 32px"></i>
			</td>
		</tr>
		<tr>
			<td>
				<input
					class="flex-grow-1"
					type="text"
					style="border-style: none"
					placeholder="New Item"
					[(ngModel)]="newItem.name" />
			</td>
			<select
				class="flex-grow-1"
				type="text"
				style="border-style: none"
				placeholder="+"
				[(ngModel)]="newItem.category">
				<option selected disabled [value]="undefined">
					Select an Option
				</option>
				<option *ngFor="let category of Categories" [value]="category._id">
					{{ category.name }}
				</option>
			</select>
			<td>
				<input
					class="flex-grow-1"
					type="text"
					style="border-style: none"
					placeholder="New Image Url"
					[(ngModel)]="newItem.imageUrl" />
			</td>
			<td>
				$
				<input
					class="flex-grow-1"
					type="number"
					style="border-style: none"
					placeholder="+"
					[(ngModel)]="newItem.price" />
			</td>
			<td>
				<input
					class="flex-grow-1"
					type="number"
					style="border-style: none"
					placeholder="+"
					[(ngModel)]="newItem.stock" />
			</td>
			<td style="text-align: center">
				<i
					class="fa fa-plus"
					(click)="createItem(newItem)"
					style="font-size: 32px"></i>
			</td>
		</tr>
	</tbody>
</table>
<br />
<table class="table">
	<thead>
		<tr>
			<th>Category Name</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr #row *ngFor="let category of Categories; let i = index">
			<td>
				<input
					class="flex-grow-1"
					type="text"
					style="border-style: none"
					[(ngModel)]="Categories[i].name" />
			</td>
			<td style="text-align: center">
				<i
					class="fa fa-remove"
					(click)="deleteCat(category._id)"
					style="font-size: 32px"></i>
			</td>
		</tr>
		<tr>
			<td>
				<input
					class="flex-grow-1"
					type="text"
					style="border-style: none"
					placeholder="New Item"
					[(ngModel)]="newCat.name" />
			</td>
			<td style="text-align: center">
				<i
					class="fa fa-plus"
					(click)="createCat(newCat)"
					style="font-size: 32px"></i>
			</td>
		</tr>
	</tbody>
</table>
