<nav
	class="navbar navbar-light navbar-expand-lg navigation-clean"
	style="background: var(--bs-gray-900); color: var(--bs-white)">
	<div class="container">
		<a class="navbar-brand" href="/home">Trinity Plumbing Administrator</a>
		<ul class="navbar-nav ms-auto">
			<li class="nav-item">
				<a class="nav-link" style="color: var(--bs-white)">Hero</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" style="color: var(--bs-white)"
					>Contact Manager</a
				>
			</li>
			<li class="nav-item dropdown">
				<a
					class="dropdown-toggle nav-link"
					aria-expanded="false"
					data-bs-toggle="dropdown"
					href="#"
					style="color: var(--bs-white)"
					>CRUD Ops&nbsp;</a
				>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="/admins/inventory">Inventory</a
					><a class="dropdown-item" href="/admins/services">Services</a>
				</div>
			</li>
		</ul>
	</div>
</nav>
