<section class="login-clean">
	<form #form="ngForm">
		<h2 class="visually-hidden">Login Form</h2>
		<div class="illustration" style="padding: 0">
			<i class="icon ion-android-warning" style="font-size: 150px"></i>
		</div>
		<div class="mb-3">
			<input
				class="form-control"
				type="password"
				placeholder="Token"
				name="token"
				required
				ngModel />
		</div>
		<div class="mb-3">
			<input
				class="form-control"
				type="password"
				name="passphrase"
				placeholder="Keyphrase"
				required
				ngModel />
		</div>
		<div class="mb-3">
			<button
				class="btn btn-primary d-block w-100"
				(click)="form.valid && submit(form)">
				Verify
			</button>
		</div>
		<a class="forgot" href="#">Forgot your email or password?</a>
	</form>
</section>
