<section>
	<div class="px-4 py-16 mx-auto max-w-screen-2xl sm:px-6 lg:px-8">
		<div class="grid grid-cols-1 lg:grid-cols-2 lg:h-screen">
			<div class="relative z-10 lg:py-16">
				<div class="relative h-64 sm:h-80 lg:h-full">
					<img
						class="absolute inset-0 object-cover w-full h-full"
						src="https://images.pexels.com/photos/8940464/pexels-photo-8940464.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
						alt="Indoors house" />
				</div>
			</div>

			<div class="relative flex items-center bg-gray-100">
				<span
					class="hidden lg:inset-y-0 lg:absolute lg:w-16 lg:bg-gray-100 lg:block lg:-left-16"></span>

				<div class="p-8 sm:p-16 lg:p-24">
					<h2 class="text-2xl font-bold sm:text-3xl">
						Plumbing Solutions To Bring Peace of Mind
					</h2>

					<p class="mt-4 text-gray-600">
						We are committed to caring for your home as if it's our own.
						We will listen, assess, and find the best solution for your
						needs.
					</p>

					<a
						class="inline-block px-12 py-3 mt-8 text-sm font-medium text-white bg-gray-800 border-black border hover:bg-transparent hover:text-black"
						href="/contact">
						Get in Touch
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
