.bottom-bar{
    background-color:#18678e;
    display:flex;
    flex-direction:row;
    justify-content: space-around;
}

logo-container{
    color: white;
    display:flex;
    justify-content: space-between;
    padding-top: 8px;
    padding-right: 8px;
    padding-left: 8px;
    background-color:#18678e;
}
logo-container img{
    border-radius: 30px;
    max-width:10%;
}

logo-container img:hover{
    opacity: 90%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
}


li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    opacity: 70%;
}

.icon-container{
    display: flex;
    align-items: center;
    gap: 20px;
}


.material-symbols-outlined {
    background-color: #18678e;
    color: white;
}

.material-symbols-outlined:hover{
    opacity: 70%;
}

.btn{
    background-color: #18678e;
    border: none;
    font-size: 0;
}